!!!
%html
  %head>
    %meta( http-equiv="Content-Type" content="text/html; charset=UTF-8" )
    %title ruote - #{item[:title]}

    %script{ :src => "/js/shCore.js" }
    %script{ :src => "/js/shBrushRuby.js" }
    %script{ :src => "/js/shBrushJScript.js" }
    %script{ :src => "/js/shBrushXml.js" }

    %link{ :href => "/css/reset.css", :type => 'text/css', :rel => 'stylesheet' }
    %link{ :href => "/css/shCore.css", :type => 'text/css', :rel => 'stylesheet' }
    -#%link{ :href => "/css/shThemeDefault.css", :type => 'text/css', :rel => 'stylesheet' }
    %link{ :href => "/css/shThemeRuote.css", :type => 'text/css', :rel => 'stylesheet' }
    %link{ :href => "/css/ruote.css", :type => 'text/css', :rel => 'stylesheet' }
  %body

    #container

      #header
        #header-top
          #header-left
            %a{ :href => '/' }
              %img{ :src => '/images/ruote.png' }
            #header-subtitle
              open source ruby workflow engine
          #header-right
            -# maybe search, later

        #nav
          %span
            %a{ :title => "documentation", :href => "/documentation.html" } doc
            %a{ :title => "source code", :href => "/source.html" } source
            %a{ :title => "download", :href => "/download.html" } download
            %a{ :title => "mailing lists and irc", :href => "/lists.html" } lists
            %a{ :title => "blog", :href => "http://jmettraux.wordpress.com" } blog
            %a{ :title => "map", :href => "/map.html" } map
            %a.nihongo{ :title => "日本語", :href => "/ja.html" } 日本語

      #content
        = yield

    #footer
      %p
        %span#footer-left
          this website was created with
          %a{ :href => "http://nanoc.stoneship.org" } nanoc
          and
          %a{ :href => "http://alexgorbatchev.com/SyntaxHighlighter/" } syntax highlighter
        %span#footer-right
          &copy; 2005-2010 the ruote team

    :javascript
      SyntaxHighlighter.all();
    %script{ :type => "text/javascript", :src => "http://www.google-analytics.com/ga.js" }
    :javascript
      if (location.hostname != 'localhost' && location.hostname != '127.0.0.1') {
        var pageTracker=_gat._getTracker('UA-138748-2');
        pageTracker._initData();
        pageTracker._trackPageview();
      }

