!!!
%html
  %head>

    %meta( http-equiv="Content-Type" content="text/html; charset=UTF-8" )

    %title ruote - #{item[:title]}

    %script{ :src => "/js/shCore.js" }
    %script{ :src => "/js/shBrushXml.js" }
    %script{ :src => "/js/shBrushBash.js" }
    %script{ :src => "/js/shBrushRuby.js" }
    %script{ :src => "/js/shBrushJScript.js" }
    / %script{ :src => "/js/jquery-1.6.1.min.js" }
    %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" }

    %link{ :href => "/css/reset.css", :type => 'text/css', :rel => 'stylesheet' }
    %link{ :href => "/css/shCore.css", :type => 'text/css', :rel => 'stylesheet' }
    -#%link{ :href => "/css/shThemeDefault.css", :type => 'text/css', :rel => 'stylesheet' }
    %link{ :href => "/css/shThemeRuote.css", :type => 'text/css', :rel => 'stylesheet' }
    %link{ :href => "/css/ruote.css", :type => 'text/css', :rel => 'stylesheet' }
  %body

    #container

      #header
        #header-center
          #header-left
            %a{ :href => '/' }
              %img{ :src => '/images/ruote.png' }
            #header-subtitle
              a ruby workflow engine
          #header-right
            -# maybe search, later
            #nav
              %span
                %a{ :title => "documentation", :href => "/documentation.html" } 
                  doc
                %a{ :title => "source code", :href => "/source.html" }
                  source
                %a{ :title => "download", :href => "/download.html" }
                  download
                %a.nihongo{ :title => "日本語", :href => "/ja.html" }
                  日本語

      #content
        #content-center
          #sidebar SIDEBAR
          #content-main
            = yield

    #footer
      #footer-center
        %p
          %span#footer-left
            %a{ :href => "https://github.com/jmettraux/ruote_website/issues" } doc issue reporting
            |
            %a{ :href => "https://github.com/jmettraux/ruote_website" } doc source
            | created with
            %a{ :href => "http://nanoc.stoneship.org" } nanoc
            and
            %a{ :href => "http://alexgorbatchev.com/SyntaxHighlighter/" } syntax highlighter
          %span#footer-right
            &copy; 2005-2013 the ruote team

    :javascript

      SyntaxHighlighter.all();

      if (location.hostname != 'localhost' && location.hostname != '127.0.0.1') {

        // gauges

        var _gauges = _gauges || [];
        (function() {
          var t   = document.createElement('script');
          t.type  = 'text/javascript';
          t.async = true;
          t.id    = 'gauges-tracker';
          t.setAttribute('data-site-id', '50454d13f5a1f57e4200001b');
          t.src = '//secure.gaug.es/track.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(t, s);
        })();

        // ga

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-138748-2']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
        })();
      }

