
- if @head_item
  -#%h3
  -#  Top
  %ul
    %li.head_item
      %a{ :href => '/' + @head_item.path.join('/') + '.html' }
        = @head_item.title

%h3
  Links
%ul
  - @items.each do |item|
    %li{ :class => item == @item ? 'current' : nil }
      %a{ :href => '/' + item.path.join('/') + '.html' }
        = item.title

%h3
  Contacts
%ul.contact

  - contacts = []
  - contacts << [ 'http://jmettraux.wordpress.com', 'blog' ]
  - contacts << [ '/lists.html', 'mailing list' ]
  - contacts << [ 'http://ruote-ci.s3.amazonaws.com/ci.html', 'continuous integration' ]
  - contacts << [ 'http://ruote-irclogs.s3.amazonaws.com/logs.html', 'IRC' ]
  - contacts << [ '/users.html', 'ruote users' ]

  - contacts.each do |con|
    %li{ :class => con.first == @item.identifier[0..-2] + '.html' ? 'current' : nil }
      %a{ :href => con.first }
        = con.last

