
- if @head_item
  %ul
    %li.head_item
      %a{ :href => '/' + @head_item.path.join('/') + '.html' }
        = @head_item.title

%ul
  - @items.each do |item|
    %li{ :class => item == @item ? 'current' : nil }
      %a{ :href => '/' + item.path.join('/') + '.html' }
        = item.title

%ul.contact
  %li
    %a{ :href => 'http://jmettraux.wordpress.com' }
      blog
  %li
    %a{ :href => 'http://groups.google.com/group/openwferu-users' }
      mailing list
  %li
    %a{ :href => 'http://ruote-ci.s3.amazonaws.com/ci.html' }
      continuous integration
  %li
    %a{ :href => 'http://ruote-irclogs.s3.amazonaws.com/logs.html' }
      IRC

