
body {
  font: 14px/20px "Helvetica Neue", Helvetica, Serif;
}

li { margin-bottom: 0.7em; }

table {
  border-top: 1px solid black;
  border-left: 1px solid black;
}
th,td {
  border-bottom:  1px solid black;
  border-right:   1px solid black;
}

p {
  margin-bottom: 1.0em;
}
h2 {
  font-size: 200%;
  margin-bottom: 2.0em;
}
h3 {
  font-size: 140%;
  margin-bottom: 1.0em;
}
ul {
  list-style: circle inside;
}

#ruote {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  margin-left: 12px;
  cursor: pointer;
}

#header {
  width: 770px;
  margin: auto;
  margin-top: 28px;
  margin-bottom: 42px;
}
#header-top {
  margin-bottom: 21px;
}
#header-bottom {
  border-top: 1px solid #999;
}
#header-left {
}
#header-subtitle {
  float: left;
}
#header-menu {
  float: right;
}

a.nihongo {
  font-size: 10.5px;
}

#content {
  width: 770px;
  margin: auto;
}

#footer {
  border-top: 1px solid #999;
  width: 770px;
  margin: auto;
  margin-top: 42px;
  margin-bottom: 42px;
}
#footer-left {
  float: left;
}
#footer-right {
  float: right;
}

.right-image {
  float: right;
  margin-right: 0;
}

/*
.home-progress {
  border: 1px solid <%= @page.color['border'] %>;
  padding: 1em 0.5em;
  margin-bottom: 1em;
}
*/

.syntaxhighlighter {
  overflow: hidden !important;
  font-size: 12px !important;
}
.toolbar {
  display: none !important;
}

